---
import Title from "@components/Title/Title.astro";
import Accordion from "@components/Accordion/Accordion.astro";
import BtnCircle from "@components/BtnCircle/BtnCircle.astro";
import "./accordion-gallery.scss";

interface Props {
	accordionName: string;
	class?: string;
}

const { class: className, accordionName } = Astro.props;
const data = [
	{
		title: "Життєпис/Фото та Відео",
		description:
			"<p>На сторінці Онлайн Меморіалу Ви маєте можливість розповісти світові історію життя близької Вам людини. Поділиться спогадами, подіями, які Вам запам’яталися, додайте фото та відео.</p>",
		image: "/upload/gallery/biography.png",
		isOpen: true
	},
	{
		title: "Персоналізація",
		description:
			"<p>При створенні Онлайн Меморіалу Ви можете обрати один з візуальних шаблонів, який, на Ваш погляд, найбільш пасує для його оформлення. На даний момент є 5 шаблонів, але ми плануємо в найближчому майбутньому збільшити їх кількість.</p>",
		image: "/upload/gallery/personalization.png",
	},
	{
		title: "Пам'ятні дати",
		description:
			"<p>Виділіть найважливіші моменти життя людини, такі як день народження, річниця весілля, народження дитини, досягнення тощо. Тобто все, що вважаєте за потрібне. Усі вони відобразяться на хронологічній шкалі. До кожної такої події можна додати опис та фото.</p>",
		image: "/upload/gallery/memorable-dates.png",
	},
	{
		title: "Книга спогадів",
		description:
			"<p>Родичі, друзі, знайомі, колеги можуть поділитися своїми спогадами про людину, висловити слова підтримки близьким, додати фотографії та прокоментувати або відреагувати на записи інших людей.</p>",
		image: "/upload/gallery/memory-book.png",
	},
	{
		title: "Вшанування пам’яті",
		description:
			"<p>Ви можете обрати один з “меморіальних поминків” для вшанування пам'яті людини і він буде відображений на сторінці Онлайн Меморіалу. І навіть якщо Ви знаходитесь за тисячі кілометрів, Ви маєте можливість вшанувати пам'ять людини відправивши такий пам'ятний подарунок.</p>",
		image: "/upload/gallery/honoring-memory.png",
	},
];
---

<section class:list={[className, "accordion-gallery container"]}>
	<div class="accordion-gallery__text">
		<Title class="accordion-gallery__title" as="h2" size={2}>Можливості Меморіалу</Title>
		{
			data.map(({ title, description, image, isOpen }, index) => (
				<Accordion
					class="accordion-gallery__accordion"
					{title}
					{isOpen}
					name={accordionName}
					data-index={index}
				>
					<Fragment set:html={description} />
					<img
						class="accordion-gallery__mobile-img"
						src={image}
						alt={title}
						width="564"
						height="461"
						loading="lazy"
						decoding="async"
					/>
				</Accordion>
			))
		}
		<BtnCircle class="accordion-gallery__btn" as="a" href="#">Детальніше</BtnCircle>
	</div>
	<div class="accordion-gallery__slider" style={`--accordion-gallery-length: ${data.length}`}>
		{
			data.map(({ title, image }, index) => (
				<img
					style={`--index: ${index}`}
					class="accordion-gallery__slide"
					src={image}
					alt={title}
					width="564"
					height="461"
					loading="lazy"
					decoding="async"
				/>
			))
		}
	</div>
</section>
